
    <div class="dashboard">
        <div class="heading">
            <img src="" alt="">
            <p>{{username}},welcome to 10000 challenge</p>
        </div>
        <div class="container">
            <div class ="col-8 offet-2">
                <div class="add-button">
                <button id="addButton" >+</button>
                <span>add habit</span>
                </div>
                <br>
                <div class="habits">
                    <div id="habit1">{{habit1}}
                        <p>goal: {{goal1}}</p>
                        <p>achieved so far: {{achieved1}}</p>
                    </div>
                    <div id="habit2">{{habit2}}
                        <p>goal: {{goal2}}</p>
                        <p>achieved so far: {{achieved2}}</p>
                    </div>
                    <div id="habit3">{{habit3}}
                            <p>goal: {{goal3}}</p>
                            <p>achieved so far: {{achieved3}}</p>
                    </div>                    
                </div>
            </div>
            
        </div>
    </div>
